<div class="col-sm-12 col-md-8 col-lg-6">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-default">{{ button_label|default('Guardar') }}</button>
    {{ form_end(form) }}
    <br>
</div>
