<form method="post" class="form-button-delete" action="{{ path('materia_delete', {'id': materia.id}) }}" onsubmit="return confirm('Estás seguro de que quieres borrar este registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materia.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
