{% extends 'base.html.twig' %}

{% block title %}Nueva Materia{% endblock %}

{% block pagename %}Añadir Materia{% endblock %}

{% block breadcrumb %}
    <li class=""><a href="{{path('materia_index')}}">Materias</a></li>
    <li class="active">Nueva</li>
{% endblock %}

{% block body %}

    {{ include('materia/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('materia_index') }}">Volver</a>

{% endblock %}
