{% extends 'base.html.twig' %}

{% block title %}Nueva Sesión{% endblock %}

{% block pagename %}Añadir Sesión{% endblock %}

{% block breadcrumb %}
    <li class=""><a href="{{path('sesion_index')}}">Sesiones</a></li>
    <li class="active">Nueva</li>
{% endblock %}

{% block body %}

    {{ include('sesion/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('sesion_index') }}">Volver</a>

{% endblock %}
